<div class="container center">
  <h1>Edit Team</h1>
    
  <%= render partial: 'team_form' %>

  <br />
  <span> Time to move on?!<span>
  <%= button_to 'delete team',
    team_path(@team),
    data: { confirm: 'Delete team?' },
    class:  'delete-btn',
    method: :delete %>
</div>
