<div class="message">
  <div class="author">
    <p>
      <b> <%= message.author.name %></b> 
      <%= message.created_at.in_time_zone('EST').strftime("%b %d %I:%M") %>
    </p>
  </div>
  <div class="content">
    <p> <%= message.content %></p>
  </div>
</div>
