<div class="container center">
  <%= render partial: 'schedule_form' %>
  <br />
  <span>Adding events will create reminders for members: </span>
  <%= link_to 'add event', new_schedule_event_path(@schedule.id)%>
</div>
